img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit:  cover;
    /* margin-right: 25px; */
}

.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.mIntro {
    color: #232320;
    font-family: Bogart,Recoleta,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 2em;
    letter-spacing: -1.5px;
    line-height: 110%;
    margin: 0;
    transition: all .2s ease-in-out;
    text-align: center;
    /* float: left; */
}
/* .links{
    text-align: center;
} */

mainImage{
    float: right;
}

standard{
    color: #333;
    font-size: 1;
    line-height: 1.7;
    margin: 1em 0 0;
    transition: all .2s ease-in-out;
}

p {
    color: #656270;
    font-size: 1.1em;
    line-height: 1.7;
    margin: 1em 0 0;
    transition: all .2s ease-in-out;
}

.toolbar {
    /* background-color: #f2f2f2; */
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .toolbar a {
    float: right;
    color:#333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .toolbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .toolbar a.active {
    background-color: #009900;
    color: white;
  }